
.breadcrump{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: $lightGrey;
  color: black;
  .breadcrump-link{
    display: flex;
    width: 100%;
    max-width:1280px;
    padding:0 20px;
    span{
      font-size: 1.5rem;
      padding-right: 10px;
      @media screen and (max-width:768px){
        font-size: var(--fontSmall);
      }
    }
    span:first-child:hover{
      color: red;
      outline: none;
      }
  }
}

#home{
    cursor: pointer;
}