.card{
    width: 300px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: animateTumb 0.5s;
    border-radius: 20px;
    background-color: $white;
    color: white;
    border: none;
    p,b,h2{
      background-color: $white;
      color: black;
    }
}
.card:hover{
  box-shadow: 2px 1px 17px 7px rgba(195, 36, 36, 0.89);
}
@keyframes animateTumb {
  from{

      opacity: 0;
  }
  to {
      opacity: 1;
  };
}
.content-item .pic a{
  overflow: hidden;
  display: block;
}

.content-item .pic img {
  transition: 600ms;
}

.content-item:hover .pic img {
  transform: scale(1.06);

}